<!--{template common/header}-->
<style id="diy_style" type="text/css">#portal_block_15 {  background-color:#fffbd7 !important;background-image:none !important;}</style>
<div class="wp">
        <div style='font-size: 20px;color:red;margin-top:25px;'>最新视频
    <!--{if $_G['groupid']<4}-->
        <div style='font-size: 20px;color:red;float: right;'>
            <a href="forum.php?mod=forumdisplay&fid=36" >发布</a>
        </div>
     <!--{/if}-->
    </div>
    <hr></hr>
    <!--[diy=diy1]--><div id="diy1" class="area"><div id="framePlD1z3" class="cl_frame_bm frame move-span cl frame-1"><div id="framePlD1z3_left" class="column frame-1-c"><div id="framePlD1z3_left_temp" class="move-span temp"></div><!--{block/15}--></div></div></div><!--[/diy]-->

</div>
<!--{template common/footer}-->